APP_NAME=LaneBlog Admin API
APP_ENV=local
SERVER_ADDR=:8080
ADMIN_USERNAME=lane
ADMIN_PASSWORD_HASH=123456 # sha1(md5(123456"))
AUTH_TOKEN=change-this-token-in-production
ADMIN_MYSQL_DSN=lane:password@tcp(127.0.0.1:3306)/blog?charset=utf8mb4&collation=utf8mb4_unicode_ci&parseTime=true&loc=Local
